**/.idea
dist
**/build/*
*.egg-info/*
**/*.egg-info/*

*.DS_Store
*.pyc
*~
**/.ipynb_checkpoints*

# File types
*.xlsx
*.csv
*.png

# Folders
**/models/*
**/model_repeats/*
**/data/*
**/docs/*
**/notebooks/*
